:root{
    --header-height: 100vh;
    --nav-height: 60px;
}

.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
}

/* header{
    height: 100vh;
} */

body{
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(46, 46, 46);
}

nav{
    /* position: -webkit-sticky;  */
    position: sticky;
    z-index: 10000;
    top: 0;
    background-color: rgb(46, 46, 46);
}

nav > h1{
    margin: 0;
    color: white;
}

nav ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 0;
}

nav li{
    list-style: none;
    text-align: center;
}

.menu > li > a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    display: flex;
    width: 10em;
    height: var(--nav-height);

    align-items: center;
    justify-content: center;
    border-right: solid black;
    border-width: 1px;
    transition: all 0.3s ease;
}

.active{
    background-color: black;
}

nav li:first-child a{
    border-left: solid black;
    border-width: 1px;
}

.about:hover{
    background-color: rgb(5, 105, 163);
    color: black;
}

.map:hover{
    background-color: rgb(50, 102, 37);
}

.gallery:hover{
    background-color: rgb(138, 106, 165);
}

.history:hover{
    background-color: rgb(226, 228, 106);
}



.logo{
    position: absolute;
    z-index: 100;
    top: 3em;
    right: 5em;
    width: 30em;
}

.jumbotron{
    position: absolute;
    top: 25em;
    left: 5em;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2em;
    padding: 3em;
}

.jumbotron h1{
    font-size:4em;
    margin-bottom: 0;
    border-bottom: solid;
}

.jumbotron p{
    font-size: 2em;
    font-weight: 900;
}

.jumbotron a{
    text-decoration: none;
    color: black;
    border-radius: 1em;
    background-color: white;
    padding: 0.8em;
    font-weight: 900;
    transition: all 0.3s ease;
}

.jumbotron a:hover{
    background-color: rgb(5, 105, 163);
    color: white;
}


/* #################   ABOUT  1st half ###################*/


.aboutinfo .first{
    display: grid;
    grid-template-areas:"abouttitle abouttitle abouttitle"
                        "vision . mission"
                        "promise . mission"
                        "aboutendtitle aboutendtitle aboutendtitle";

    grid-template-columns: 48.5% 3% 48.5%;
    grid-auto-rows: auto;
}

.aboutinfo .first h1{
    font-size: 5em;
    text-transform: uppercase;
    margin-top: 200px;
}


.aboutinfo .first h2{
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 0;
    display: block;
    width: 10em;
    background-color: rgba(231, 231, 231, 0.801);
    border-radius: 10px;
    padding: 5px;
    text-align: center;

}
.aboutinfo .first p{
    font-size: 1.3em;
    line-height: 30px;
}


.abouttitle{
    grid-area: abouttitle;
}

.vision{
    grid-area: vision;
    margin-top: 3em;
}

.mission{
    grid-area: mission;
    margin-top: 3em;
}

.promise{
    grid-area: promise;
    margin-top: 9em;
}

.aboutendtitle{
    grid-area: aboutendtitle;
    text-align: center;
}


/* ########### about 2nd half */


.second{
    /* background-color: rgb(8, 124, 190); */
    background-image: linear-gradient( white, rgb(8, 124, 190), rgb(8, 124, 190), rgb(8, 124, 190), rgb(8, 124, 190), rgb(8, 124, 190) ,rgb(8, 124, 190));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10em 0 20em 0;
    /* border-top: solid black 5px; */
    
}

.second > h1{
    font-size: 4em;
}

.commitments{
    display: flex;
    flex-direction: column;
    padding-top: 5em;
}

.commitment{
    display: flex;
    flex-direction: row;
    transition: all 0.4s ease;
}

.commitment:hover{
    transform: scale(1.02);
}

.commitment:hover img{
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.commitment:hover .commitmentinfo{
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.commitmentinfo{
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.commitmentinfo > *{
    margin-right: 110px;
    margin-left: 110px;
}

.commitmentinfo > h1{
    font-size: 1.7em;
    margin-top: 0;
}

.commitmentinfo > p{
    font-size: 1.2em;
}

.commitmentinfo > a{
    font-size: 1em;
    text-decoration: none;
    color: black;
    padding: 8px 15px 8px 15px;
    background-color: rgb(255, 237, 154);
    text-transform: uppercase;
    border-top-right-radius: 10px;
    transition: all 0.3s ease;
}

.commitmentinfo > a:hover{
    background-color: rgb(219, 185, 35) ;
}

.commimage{
    width: 30vw;
}

.commitmentinfocare{
    background-color: rgb(209, 235, 236);
}

.commitmentinfoconversation{
    background-color: rgb(86, 165, 70);
}

.commitmentinfocommunity{
    background-color: rgb(209, 235, 236);
}



.care img{
    border-top-left-radius: 1em;
}
.care .commitmentinfo{
    border-top-right-radius: 1em;
}

.community img{
    border-bottom-left-radius: 1em;
}

.community .commitmentinfo{
    border-bottom-right-radius: 1em;
}


#map{
    height: 600px;
    width: 70vw;
    margin-top: 80px;
    border-radius: 1em;
    border: solid black;
    transition: all 2s ease;
}

#map:hover{
    border-color: white;
}

.mappart{
    background-color:rgb(50, 102, 37);
    /* background-image: linear-gradient(to right, white, rgb(50, 102, 37), rgb(50, 102, 37), rgb(50, 102, 37) ,rgb(50, 102, 37), rgb(50, 102, 37), rgb(50, 102, 37), white); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    border-top: solid black 3px;
    padding: 7em 0 10em 0;
}

.mappart > h1{
    font-size: 4em;
    margin-bottom: 0.5em;
}

.mappart > p{
    font-size: 1.7em;
    background-color: rgb(255, 255, 255, 0.2);
    margin: 0;
    padding: 1em;
    border-radius: 1em;
}



/* ############ GALERY ############## */


.gallerypart{
    text-align: center;
    padding-top: 150px;
    padding-bottom: 200px;
    background-color: rgb(138, 106, 165);
    border-top: solid black 3px;
}

.gallerypart > h1{
    font-size: 4em;
    margin-bottom: 2em;
}

.gallerybox{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    /* cursor: grabbing; */
}

.gallerybox > img{
    object-fit: cover;
    object-position: center;
    height: calc(100vw / 4);
    width: calc(100vw / 4);
    transition: all 0.3s ease;
    cursor: pointer;
}

.gallerybox > img:hover{
    transform: scale(1.01);
    border-radius: 10px;
    
}


#lightbox{
    position: fixed;
    z-index: 200000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    display: none;
}

#lightbox.active{
    display: flex;
    justify-content: center;
    align-items: center;
}


.LBborder{
    border-radius: 2em;
    border: solid rgb(138, 106, 165) 5px;
}

.historypart{
    text-align: center;
    background-color: rgb(226, 228, 106);
    padding-top: 150px;
    padding-bottom: 200px;
    border-top: solid black 3px;
}

.historypart h1{
    font-size: 4em;
}

.historypart p{
    font-size: 1.5em;
}

.historypart > .container{
    background-color: rgb(255, 255, 255, 0.6);
    padding: 3em;
    border-radius: 3em;
}












@media (prefers-reduced-motion: no-preference) {
    .module {
      animation: wipe-enter 1s 1;
    }
  }

















/* CAROUSEL */


.carousel-container{
    margin: 0;
    padding: 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: calc(var(--header-height) - var(--nav-height));
}

.fade > img{
    object-fit: cover;
    width: 100%;
    margin: 0;
    padding: 0;
    height: calc(var(--header-height) - var(--nav-height));
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    height: calc(var(--header-height) - var(--nav-height));
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}