:root{
    --carousel-height: 50em;
}

.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
}

body{
    margin: 0;
    padding: 0;
    height: 1000em;
}

html{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(46, 46, 46);
}

nav{
    padding: 1em 0 1em 0;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    background-color: rgb(46, 46, 46);
}

nav > h1{
    margin: 0;
    color: white;
}

nav ul{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    align-items: center;
}

nav li{
    list-style: none;
    margin: 0 3em 0 3em;
}

nav ul a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}



.logo{
    position: absolute;
    z-index: 100;
    top: 3em;
    right: 5em;
    width: 30em;
}

.jumbotron{
    position: absolute;
    top: 25em;
    left: 5em;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 2em;
    padding: 3em;
}

.jumbotron h1{
    font-size:4em;
    margin-bottom: 0;
    border-bottom: solid;
}

.jumbotron p{
    font-size: 2em;
    font-weight: 900;
}

.jumbotron a{
    text-decoration: none;
    color: black;
    border-radius: 1em;
    background-color: white;
    padding: 0.8em;
    font-weight: 900;
    transition: all 0.3s ease;
}

.jumbotron a:hover{
    background-color: rgb(5, 105, 163);
    color: white;
}



































/* CAROUSEL */


.carousel-container{
    margin: 0;
    padding: 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: var(--carousel-height);
}

.fade > img{
    object-fit: cover;
    width: 100%;
    margin: 0;
    padding: 0;
    height: var(--carousel-height);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}